@{
    ViewData["Title"] = "Home";
}

<div style="background-color: skyblue; padding: 50px 0;">
    <div class="text-center">
        <img src="https://content3.jdmagicbox.com/comp/proddatur/x8/9999p8564.8564.240314110719.x1x8/catalogue/brilliant-minds-learning-center-proddatur-bazaar-proddatur-tutorials-i1je090kjd.jpg"
             alt="Brilliant Minds Logo"
             style="max-width: 300px; margin-bottom: 20px;" />
        <h2>Welcome to DotNet Skill School</h2>
        <p>Learn full stack .NET development from beginner to advanced!</p>
    </div>
</div>
